/* Estilos de mi sitio Web*/

body{
    font-family: 'Nunito Sans', sans-serif;
}

h1{
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

h2{
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Kanit', sans-serif;
}

h3{
    font-size: 20px;
    margin-bottom: 10px;
}

p{
    font-size: 16px;
    line-height: 1.5;
}

/*estilos para el header y el menu*/

header{
    background-color: #eefcf9;
    padding: 20px;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 20px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline;
    padding-left: 20px;
}

nav ul li a{
    color: #1c1f21;
    text-decoration: none;
}

/*estilos para el banner*/

#banner{
    color: #fff;
    background-image: url("banner.jpg");
    background-size: cover;
    padding: 100px;
    text-align: center;
}

/*estilos para seccin de nosostros*/

#about {
    background-color: #ffffff;
    text-align: center;
}

#about img{
    width: 50%;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 50px 50px;
}

.left-column {
    padding: 20px;
    flex-basis: 50%;
}

.right_column {
    padding: 20px;
    flex-basis: 50%;
}

/*estilos footer*/
#footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

footer {
    background-color: #1c1f21;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/*estilos servicios*/
#services{
    background-color: #fff;
    text-align: center;
}

.service{
    display: flex;
    flex-direction: column;
    align-self: baseline;        
    margin-bottom: 30px;
    padding: 10px;
}

.service img{
    max-width: 100%;    
    margin-bottom: 10px;
}

.service h3{
    font-style: italic;
}

.service p{
    font-size: 18px;
    line-height: 1.5;
}

/*portafolio*/

#portfolio{
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.item{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.item img{
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.item:hover img{
    transform: scale(1.1);
}

.item.item1 {
    grid-column: span 2;
    grid-row: span 2;
}

.item.item2 {
    grid-column: span 1;
    grid-row: span 1;
}

.item.item3 {
    grid-column: span 1;
    grid-row: span 1;
}

.item.item4 {
    grid-column: span 1;
    grid-row: span 1;
}

.item.item5 {
    grid-column: span 1;
    grid-row: span 1;
}

.item.item6 {
    grid-column: span 1;
    grid-row: span 1;
}

.item.item7{
    grid-column: span 1;
    grid-row: span 1;
}

.item.item8 {
    grid-column: span 2;
    grid-row: span 2;

}

.item.item9 {
    grid-column: span 1;
    grid-row: span 1;

}

.item.item10 {
    grid-column: span 1;
    grid-row: span 1;

}

.item.item11 {
    grid-column: span 1;
    grid-row: span 1;

}

.item.item12 {
    grid-column: span 1;
    grid-row: span 1;

}

/*Estilo de sección de contacto*/

#contact{
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

#contact .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#contact .left-column{
    flex-basis: 50%;
    text-align: left;
}

#contact .right_column{
    flex-basis: 50%;
    text-align: left;
}

#contact h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#contact p {
    margin-bottom: 20px;
}

#contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#contact ul li{
    margin-bottom: 10px;
}

#contact form{
    margin-top: 20px;
}

#contact form .form-group{
    margin-bottom: 15px;
}

#contact form label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#contact form input,
#contact form textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #1c1f21;
    border-radius: 4px;
}

#contact form button{
    background-color: #1c1f21;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/*galeria*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: 50px auto 0px auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #e3e3e3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
 
/*3d*/

#modelado {
    background-color: #ffffff;
    text-align: center;
}

#modelado img{
    width: 100%;
}

#modelado h3{
    font-style: italic;
}

#modelado .container{
    align-items: baseline;
}

/*extra2*/

#extra2{
padding: 50px;}

#extra2 ul{
    text-align: left;
}

#extra2 iframe{
    margin-left: auto;
    margin-right: auto;
}
